/******************************************************************************
  Adaptive
  -----------------------------------------------------------------------------
  col_[1...6]
  row_[1...6]
  sld_[1...6]

  on_[1...6]      off_[1...6]
  in_[1...6]      out_[1...6]
  show_[1...6]   hide_[1...6]
  -----------------------------------------------------------------------------
   1     2     3     4     5     6      7      8      9
  360   480   600   720   840   960   1080   1200   1320
  360   540   720   900   1080  1260  1440
  360   560   760   960   1160  1360
  360   600   840   1080  1320
 ******************************************************************************/
.media-trigger(1);
.media-trigger(@n, @i: 6) when (@i >= @n) {
    @media only screen and (max-width: (@i*180px + 180px)) {
        .sld_@{i} {
            width:     100% !important;
            min-width: 100% !important;
            max-width: 100% !important;
        }
        .col_@{i}.divider:not(.lst) > :not(:only-child):not(:first-child):not([class*="bg"]),
        .col_@{i}.divider.lst       > :not(:only-child):not(:first-child):not([class*="bg"]) > * {
            border-top-style: solid !important;
            border-left-style: none !important;
        }
        .col_@{i}.divider:not(.lst) > [class*="bg"] + * {
            border-top: 0 none !important;
        }
        .col_@{i} > * {
            margin-left:  0    !important;
            margin-right: 0    !important;
            position: relative !important;
            top:    auto       !important;
            bottom: auto       !important;
            left:   auto       !important;
            right:  auto       !important;
        }
        .blc.on_@{i},
        .blc.col_@{i} > * {
            display: block !important;
        }
        .row_@{i} > * {
            margin-top:    0 !important;
            margin-bottom: 0 !important;
        }
        .blc.row_@{i} > *,
        .blc.row_@{i}.rights > .left {
            float: left !important;
        }
        .blc.row_@{i} > .right,
        .blc.row_@{i}.rights > *  {
            float: right !important;
        }
        .row_@{i} > *,
        .col_@{i} > *,
        .tbl.col_@{i} > * > :not([hidden]):not(script):not(style) {
            float: none !important;
        }
        .row_@{i} > *,
        .tbl.col_@{i} > * > :not([hidden]):not(script):not(style) {
            width: auto !important;
        }
        .tbl.on_@{i} {
            display: table !important;
        }
        .tbl.col_@{i} > * {
            display: table-row-group !important;
        }
        .tbl.row_@{i} > *,
        .tbl.col_@{i} > * > :not([hidden]):not(script):not(style) {
            display: table-cell !important;
        }
        .col_@{i},
        .row_@{i}.lst > * {
            //-webkit-flex-flow: column nowrap !important;
            //-moz-flex-flow:    column nowrap !important;
            //-ms-flex-flow:     column nowrap !important;
            //flex-flow:         column nowrap !important;
            -webkit-flex-direction: column !important;
            -ms-flex-direction:     column !important;
            flex-direction:         column !important;
        }
        .row_@{i},
        .col_@{i}.lst > * {
            //-webkit-flex-flow: row wrap !important;
            //-moz-flex-flow:    row wrap !important;
            //-ms-flex-flow:     row wrap !important;
            //flex-flow:         row wrap !important;
            -webkit-flex-direction: row !important;
            -ms-flex-direction:     row !important;
            flex-direction:         row !important;
        }
        .on_@{i} {
            display: -webkit-box  !important;
            display: -webkit-flex !important;
            display: -moz-box     !important;
            display: -ms-flexbox  !important;
            display: -webkit-flex !important;
            display: flex         !important;
        }
        .off_@{i} {
            display: none !important;
        }
        .show_@{i} {
            visibility: visible !important;
            opacity:          1 !important;
        }
        .hide_@{i} {
            visibility: hidden !important;
            opacity:         0 !important;
        }
        .in_@{i} {
            top:        auto !important;
            left:       auto !important;
            z-index: inherit !important;
        }
        .in_@{i}:not(.fix):not(.abs) {
            position: relative !important;
        }
        .in_@{i}.abs {
            position: absolute !important;
        }
        .out_@{i}, .in_@{i}.fix {
            position: fixed !important;
        }
        .out_@{i} {
            top:  -100% !important;
            left: -100% !important;
            z-index: -1 !important;
        }

        /* Adaptive Gap
         ***************************************/
        .gps.row_@{i} > .head,
        .gps.row_@{i} > .body,
        .gps.row_@{i} > .foot,
        .gps.row_@{i}.lst > * > :not(:first-child),
        .gps.col_@{i}:not(.lst):not(.divider):not([class*="gts"]) > :not(:first-child):not(.head):not(.body):not(.foot),
        .gps.col_@{i}.lst[class*="bg"] > * > *,
        .gps.col_@{i}.lst.divider > * > *,
        .gps_1.row_@{i} > .head,
        .gps_1.row_@{i} > .body,
        .gps_1.row_@{i} > .foot,
        .gps_1.row_@{i}.lst > * > :not(:first-child),
        .gps_1.col_@{i}:not(.lst):not(.divider):not([class*="gts"]) > :not(:first-child):not(.head):not(.body):not(.foot),
        .gps_1.col_@{i}.lst[class*="bg"] > * > *,
        .gps_1.col_@{i}.lst.divider > * > * {
            padding-top: .5rem !important;
        }
        .gps.row_@{i} > .head,
        .gps.row_@{i} > .body,
        .gps.row_@{i} > .foot,
        .gps.row_@{i}.lst > * > :not(:last-child),
        .gps.col_@{i}:not(.lst):not(.divider):not([class*="gts"]) > :not(:last-child):not(.head):not(.body):not(.foot),
        .gps.col_@{i}.lst[class*="bg"]  > * > *,
        .gps.col_@{i}.lst.divider > * > *,
        .gps_1.row_@{i} > .head,
        .gps_1.row_@{i} > .body,
        .gps_1.row_@{i} > .foot,
        .gps_1.row_@{i}.lst > * > :not(:last-child),
        .gps_1.col_@{i}:not(.lst):not(.divider):not([class*="gts"]) > :not(:last-child):not(.head):not(.body):not(.foot),
        .gps_1.col_@{i}.lst[class*="bg"]  > * > *,
        .gps_1.col_@{i}.lst.divider > * > * {
            padding-bottom: .5rem !important;
        }
        .gps.row_@{i}:not(.lst):not(.divider):not([class*="gts"]) > :not(:first-child):not(.head):not(.body):not(.foot),
        .gps.row_@{i}.lst > :not(:first-child) > *,
        .gps.col_@{i}.lst > * > :not(:first-child),
        .gps_1.row_@{i}:not(.lst):not(.divider):not([class*="gts"]) > :not(:first-child):not(.head):not(.body):not(.foot),
        .gps_1.row_@{i}.lst > :not(:first-child) > *,
        .gps_1.col_@{i}.lst > * > :not(:first-child) {
            padding-left: .5rem !important;
        }
        .gps.row_@{i}:not(.lst):not(.divider):not([class*="gts"]) > :not(:last-child):not(.head):not(.body):not(.foot),
        .gps.row_@{i}.lst > :not(:last-child) > *,
        .gps.col_@{i}.lst > * > :not(:last-child),
        .gps_1.row_@{i}:not(.lst):not(.divider):not([class*="gts"]) > :not(:last-child):not(.head):not(.body):not(.foot),
        .gps_1.row_@{i}.lst > :not(:last-child) > *,
        .gps_1.col_@{i}.lst > * > :not(:last-child) {
            padding-right: .5rem !important;
        }
        .gps.col_@{i} > .head,
        .gps.col_@{i} > .body,
        .gps.col_@{i}[class*="bg"] > .foot,
        .gps.col_@{i} > .foot[class*="bg"],
        .gps.col_@{i}:not(.lst) > .foot[class*="bg"] + .foot,
        .gps.col_@{i}[class*="gts"] > *,
        .gps.col_@{i}[class*="bg"]:not(.lst) > :first-child,
        .gps.col_@{i}.divider:not(.lst) > :not(:first-child),
        .gps.row_@{i}[class*="bg"]:not(.lst) > :not(.head):not(.body):not(.foot),
        .gps.row_@{i}.lst[class*="bg"] > * > :first-child,
        .gps_1.col_@{i} > .head,
        .gps_1.col_@{i} > .body,
        .gps_1.col_@{i}[class*="bg"] > .foot,
        .gps_1.col_@{i} > .foot[class*="bg"],
        .gps_1.col_@{i}:not(.lst) > .foot[class*="bg"] + .foot,
        .gps_1.col_@{i}[class*="gts"] > *,
        .gps_1.col_@{i}[class*="bg"]:not(.lst) > :first-child,
        .gps_1.col_@{i}.divider:not(.lst) > :not(:first-child),
        .gps_1.row_@{i}[class*="bg"]:not(.lst) > :not(.head):not(.body):not(.foot),
        .gps_1.row_@{i}.lst[class*="bg"] > * > :first-child {
            padding-top: 1rem !important;
        }
        .gps.col_@{i} > .body,
        .gps.col_@{i} > .foot,
        .gps.col_@{i}[class*="bg"] > .head,
        .gps.col_@{i} > .head[class*="bg"],
        .gps.col_@{i}[class*="gts"] > *,
        .gps.col_@{i}[class*="bg"]:not(.lst) > :last-child,
        .gps.col_@{i}.divider:not(.lst) > :not(:last-child),
        .gps.row_@{i}[class*="bg"]:not(.lst) > :not(.head):not(.body):not(.foot),
        .gps.row_@{i}.lst[class*="bg"] > * > :last-child,
        .gps_1.col_@{i} > .body,
        .gps_1.col_@{i} > .foot,
        .gps_1.col_@{i}[class*="bg"] > .head,
        .gps_1.col_@{i} > .head[class*="bg"],
        .gps_1.col_@{i}[class*="gts"] > *,
        .gps_1.col_@{i}[class*="bg"]:not(.lst) > :last-child,
        .gps_1.col_@{i}.divider:not(.lst) > :not(:last-child),
        .gps_1.row_@{i}[class*="bg"]:not(.lst) > :not(.head):not(.body):not(.foot),
        .gps_1.row_@{i}.lst[class*="bg"] > * > :last-child {
            padding-bottom: 1rem !important;
        }
        .gps.col_@{i} > .foot,
        .gps.col_@{i}[class*="bg"]:not(.lst) > *,
        .gps.col_@{i}.lst[class*="bg"] > * > :first-child,
        .gps.row_@{i}:not(.lst) > .foot[class*="bg"] + .foot,
        .gps.row_@{i}[class*="gts"]:not(.lst) > *,
        .gps.row_@{i}[class*="bg"]:not(.lst) > :first-child,
        .gps.row_@{i}.divider:not(.lst) > :not(:first-child),
        .gps.row_@{i}.lst[class*="bg"] > :first-child > *,
        .gps.row_@{i}.lst.divider > :not(:first-child) > *,
        .gps_1.col_@{i} > .foot,
        .gps_1.col_@{i}[class*="bg"]:not(.lst) > *,
        .gps_1.col_@{i}.lst[class*="bg"] > * > :first-child,
        .gps_1.row_@{i}:not(.lst) > .foot[class*="bg"] + .foot,
        .gps_1.row_@{i}[class*="gts"]:not(.lst) > *,
        .gps_1.row_@{i}[class*="bg"]:not(.lst) > :first-child,
        .gps_1.row_@{i}.divider:not(.lst) > :not(:first-child),
        .gps_1.row_@{i}.lst[class*="bg"] > :first-child > *,
        .gps_1.row_@{i}.lst.divider > :not(:first-child) > * {
            padding-left: 1rem !important;
        }
        .gps.col_@{i} > .head,
        .gps.col_@{i}[class*="bg"]:not(.lst) > *,
        .gps.col_@{i}.lst[class*="bg"] > * > :last-child,
        .gps.row_@{i}[class*="gts"]:not(.lst) > *,
        .gps.row_@{i}[class*="bg"]:not(.lst) > :last-child,
        .gps.row_@{i}.divider:not(.lst) > :not(:last-child),
        .gps.row_@{i}.lst[class*="bg"] > :last-child > *,
        .gps.row_@{i}.lst.divider > :not(:last-child) > *,
        .gps_1.col_@{i} > .head,
        .gps_1.col_@{i}[class*="bg"]:not(.lst) > *,
        .gps_1.col_@{i}.lst[class*="bg"] > * > :last-child,
        .gps_1.row_@{i}[class*="gts"]:not(.lst) > *,
        .gps_1.row_@{i}[class*="bg"]:not(.lst) > :last-child,
        .gps_1.row_@{i}.divider:not(.lst) > :not(:last-child),
        .gps_1.row_@{i}.lst[class*="bg"] > :last-child > *,
        .gps_1.row_@{i}.lst.divider > :not(:last-child) > * {
            padding-right: 1rem !important;
        }

        /*** Gap 1-8 ***/
        .gap-media-toggle-to(8);
        .gap-media-toggle-to(@k, @j: 2) when (@j =< @k) {
            .gps_@{j}.row_@{i} > .head,
            .gps_@{j}.row_@{i} > .body,
            .gps_@{j}.row_@{i} > .foot,
            .gps_@{j}.row_@{i}.lst > * > :not(:first-child),
            .gps_@{j}.col_@{i}:not(.lst):not(.divider):not([class*="gts"]) > :not(:first-child):not(.head):not(.body):not(.foot),
            .gps_@{j}.col_@{i}.lst[class*="bg"] > * > *,
            .gps_@{j}.col_@{i}.lst.divider > * > * {
                padding-top: @j*.5rem !important;
            }
            .gps_@{j}.row_@{i} > .head,
            .gps_@{j}.row_@{i} > .body,
            .gps_@{j}.row_@{i} > .foot,
            .gps_@{j}.row_@{i}.lst > * > :not(:last-child),
            .gps_@{j}.col_@{i}:not(.lst):not(.divider):not([class*="gts"]) > :not(:last-child):not(.head):not(.body):not(.foot),
            .gps_@{j}.col_@{i}.lst[class*="bg"]  > * > *,
            .gps_@{j}.col_@{i}.lst.divider > * > * {
                padding-bottom: @j*.5rem !important;
            }
            .gps_@{j}.row_@{i}:not(.lst):not(.divider):not([class*="gts"]) > :not(:first-child):not(.head):not(.body):not(.foot),
            .gps_@{j}.row_@{i}.lst > :not(:first-child) > *,
            .gps_@{j}.col_@{i}.lst > * > :not(:first-child) {
                padding-left: @j*.5rem !important;
            }
            .gps_@{j}.row_@{i}:not(.lst):not(.divider):not([class*="gts"]) > :not(:last-child):not(.head):not(.body):not(.foot),
            .gps_@{j}.row_@{i}.lst > :not(:last-child) > *,
            .gps_@{j}.col_@{i}.lst > * > :not(:last-child) {
                padding-right: @j*.5rem !important;
            }
            .gps_@{j}.col_@{i} > .head,
            .gps_@{j}.col_@{i} > .body,
            .gps_@{j}.col_@{i}[class*="bg"] > .foot,
            .gps_@{j}.col_@{i} > .foot[class*="bg"],
            .gps_@{j}.col_@{i}:not(.lst) > .foot[class*="bg"] + .foot,
            .gps_@{j}.col_@{i}[class*="gts"] > *,
            .gps_@{j}.col_@{i}[class*="bg"]:not(.lst) > :first-child,
            .gps_@{j}.col_@{i}.divider:not(.lst) > :not(:first-child),
            .gps_@{j}.row_@{i}[class*="bg"]:not(.lst) > :not(.head):not(.body):not(.foot),
            .gps_@{j}.row_@{i}.lst[class*="bg"] > * > :first-child {
                padding-top: @j*1rem !important;
            }
            .gps_@{j}.col_@{i} > .body,
            .gps_@{j}.col_@{i} > .foot,
            .gps_@{j}.col_@{i}[class*="bg"] > .head,
            .gps_@{j}.col_@{i} > .head[class*="bg"],
            .gps_@{j}.col_@{i}[class*="gts"] > *,
            .gps_@{j}.col_@{i}[class*="bg"]:not(.lst) > :last-child,
            .gps_@{j}.col_@{i}.divider:not(.lst) > :not(:last-child),
            .gps_@{j}.row_@{i}[class*="bg"]:not(.lst) > :not(.head):not(.body):not(.foot),
            .gps_@{j}.row_@{i}.lst[class*="bg"] > * > :last-child {
                padding-bottom: @j*1rem !important;
            }
            .gps_@{j}.col_@{i} > .foot,
            .gps_@{j}.col_@{i}[class*="bg"]:not(.lst) > *,
            .gps_@{j}.col_@{i}.lst[class*="bg"] > * > :first-child,
            .gps_@{j}.row_@{i}:not(.lst) > .foot[class*="bg"] + .foot,
            .gps_@{j}.row_@{i}[class*="gts"]:not(.lst) > *,
            .gps_@{j}.row_@{i}[class*="bg"]:not(.lst) > :first-child,
            .gps_@{j}.row_@{i}.divider:not(.lst) > :not(:first-child),
            .gps_@{j}.row_@{i}.lst[class*="bg"] > :first-child > *,
            .gps_@{j}.row_@{i}.lst.divider > :not(:first-child) > * {
                padding-left: @j*1rem !important;
            }
            .gps_@{j}.col_@{i} > .head,
            .gps_@{j}.col_@{i}[class*="bg"]:not(.lst) > *,
            .gps_@{j}.col_@{i}.lst[class*="bg"] > * > :last-child,
            .gps_@{j}.row_@{i}[class*="gts"]:not(.lst) > *,
            .gps_@{j}.row_@{i}[class*="bg"]:not(.lst) > :last-child,
            .gps_@{j}.row_@{i}.divider:not(.lst) > :not(:last-child),
            .gps_@{j}.row_@{i}.lst[class*="bg"] > :last-child > *,
            .gps_@{j}.row_@{i}.lst.divider > :not(:last-child) > * {
                padding-right: @j*1rem !important;
            }
            .gap-media-toggle-to(@k, (@j + 1));
        }
        [class*="gps"].col_@{i} > .foot {
            padding-top: 0 !important;
        }
        [class*="gps"].col_@{i} > .head {
            padding-bottom: 0 !important;
        }
        [class*="gps"].row_@{i} > .foot {
            padding-left: 0 !important;
        }
        [class*="gps"].row_@{i} > .head {
            padding-right: 0 !important;
        }

        /* Adaptive Gutter
         ***************************************/
        .gts.col_@{i} > :last-child:not(:only-child),
        .gts.col_@{i} > :not(:only-child):not(:first-child):not(:last-child),
        .gts_1.col_@{i} > :last-child:not(:only-child),
        .gts_1.col_@{i} > :not(:only-child):not(:first-child):not(:last-child) {
            margin-top: .5rem !important;
        }
        .gts.col_@{i} > :first-child:not(:only-child),
        .gts.col_@{i} > :not(:only-child):not(:first-child):not(:last-child),
        .gts_1.col_@{i} > :first-child:not(:only-child),
        .gts_1.col_@{i} > :not(:only-child):not(:first-child):not(:last-child) {
            margin-bottom: .5rem !important;
        }
        .gts.row_@{i} > :last-child:not(:only-child),
        .gts.row_@{i} > :not(:only-child):not(:first-child):not(:last-child),
        .gts_1.row_@{i} > :last-child:not(:only-child),
        .gts_1.row_@{i} > :not(:only-child):not(:first-child):not(:last-child) {
            margin-left: .5rem !important;
        }
        .gts.row_@{i} > :first-child:not(:only-child),
        .gts.row_@{i} > :not(:only-child):not(:first-child):not(:last-child),
        .gts_1.row_@{i} > :first-child:not(:only-child),
        .gts_1.row_@{i} > :not(:only-child):not(:first-child):not(:last-child) {
            margin-right: .5rem !important;
        }
        .gts.row_@{i}[class*="bg"] > *,
        .gts.col_@{i}[class*="bg"] > :only-child,
        .gts.col_@{i}[class*="bg"] > :first-child:not(:only-child),
        .gts_1.row_@{i}[class*="bg"] > *,
        .gts_1.col_@{i}[class*="bg"] > :only-child,
        .gts_1.col_@{i}[class*="bg"] > :first-child:not(:only-child) {
            margin-top: 1rem !important;
        }
        .gts.row_@{i}[class*="bg"] > *,
        .gts.col_@{i}[class*="bg"] > :only-child,
        .gts.col_@{i}[class*="bg"] > :last-child:not(:only-child),
        .gts_1.row_@{i}[class*="bg"] > *,
        .gts_1.col_@{i}[class*="bg"] > :only-child,
        .gts_1.col_@{i}[class*="bg"] > :last-child:not(:only-child) {
            margin-bottom: 1rem !important;
        }
        .gts.col_@{i}[class*="bg"] > *,
        .gts.row_@{i}[class*="bg"] > :only-child,
        .gts.row_@{i}[class*="bg"] > :first-child:not(:only-child),
        .gts_1.col_@{i}[class*="bg"] > *,
        .gts_1.row_@{i}[class*="bg"] > :only-child,
        .gts_1.row_@{i}[class*="bg"] > :first-child:not(:only-child) {
            margin-left: 1rem !important;
        }
        .gts.col_@{i}[class*="bg"] > *,
        .gts.row_@{i}[class*="bg"] > :only-child,
        .gts.row_@{i}[class*="bg"] > :last-child:not(:only-child),
        .gts_1.col_@{i}[class*="bg"] > *,
        .gts_1.row_@{i}[class*="bg"] > :only-child,
        .gts_1.row_@{i}[class*="bg"] > :last-child:not(:only-child) {
            margin-right: 1rem !important;
        }

        /*** Gutter 1-8 ***/
        .gutter-media-toggle-to(8);
        .gutter-media-toggle-to(@k, @j: 2) when (@j =< @k) {
            .gts_@{j}.col_@{i} > :last-child:not(:only-child),
            .gts_@{j}.col_@{i} > :not(:only-child):not(:first-child):not(:last-child) {
                margin-top: @j*.5rem !important;
            }
            .gts_@{j}.col_@{i} > :first-child:not(:only-child),
            .gts_@{j}.col_@{i} > :not(:only-child):not(:first-child):not(:last-child) {
                margin-bottom: @j*.5rem !important;
            }
            .gts_@{j}.row_@{i} > :last-child:not(:only-child),
            .gts_@{j}.row_@{i} > :not(:only-child):not(:first-child):not(:last-child) {
                margin-left: @j*.5rem !important;
            }
            .gts_@{j}.row_@{i} > :first-child:not(:only-child),
            .gts_@{j}.row_@{i} > :not(:only-child):not(:first-child):not(:last-child) {
                margin-right: @j*.5rem !important;
            }
            .gts_@{j}.row_@{i}[class*="bg"] > *,
            .gts_@{j}.col_@{i}[class*="bg"] > :only-child,
            .gts_@{j}.col_@{i}[class*="bg"] > :first-child:not(:only-child) {
                margin-top: @j*1rem !important;
            }
            .gts_@{j}.row_@{i}[class*="bg"] > *,
            .gts_@{j}.col_@{i}[class*="bg"] > :only-child,
            .gts_@{j}.col_@{i}[class*="bg"] > :last-child:not(:only-child) {
                margin-bottom: @j*1rem !important;
            }
            .gts_@{j}.col_@{i}[class*="bg"] > *,
            .gts_@{j}.row_@{i}[class*="bg"] > :only-child,
            .gts_@{j}.row_@{i}[class*="bg"] > :first-child:not(:only-child) {
                margin-left: @j*1rem !important;
            }
            .gts_@{j}.col_@{i}[class*="bg"] > *,
            .gts_@{j}.row_@{i}[class*="bg"] > :only-child,
            .gts_@{j}.row_@{i}[class*="bg"] > :last-child:not(:only-child) {
                margin-right: @j*1rem !important;
            }
            .gutter-media-toggle-to(@k, (@j + 1));
        }

        /*** Null ***/
        [class*="gts"].col_@{i}:not([class*="bg"]):not(.divider) > [hidden]:first-child + :not(:only-child):not(:first-child):not(:last-child) {
            margin-top: 0 !important;
        }
        [class*="gts"].row_@{i}:not([class*="bg"]):not(.divider) > [hidden]:first-child + :not(:only-child):not(:first-child):not(:last-child) {
            margin-left: 0 !important;
        }
    }
    .media-trigger(@n, (@i - 1));
}