/******************************************************************************
  Groove
  -----------------------------------------------------------------------------
  gr (1rem)
  gr_half (.5rem)
  gr_[1...20] (0.1rem - 2rem)
 ******************************************************************************/
.gr, .gr_1 {
    margin: -@cell;
    > * {
        padding: @cell;
    }
}
.gr_half {
    margin: -@cell_half;
    > * {
        padding: @cell_half;
    }
}
.generate-groove(20);
.generate-groove(@n, @i: 2) when (@i =< @n) {
    .gr_@{i} {
        margin: -@i*.1rem;
        > * {
            padding: @i*.1rem;
        }
    }
    .generate-groove(@n, (@i + 1));
}