/******************************************************************************
  Groove
  -----------------------------------------------------------------------------
  gv (.5rem)
  gv-[1...20] (0.1rem - 2rem)
 ******************************************************************************/
.gv {
    margin: -.5rem;
    > * {
        padding: .5rem;
    }
}
.generate-groove(20);
.generate-groove(@n, @i: 1) when (@i =< @n) {
    .gv-@{i} {
        margin: -@i*.1rem;
        > * {
            padding: @i*.1rem;
        }
    }
    .generate-groove(@n, (@i + 1));
}