/******************************************************************************
  Gutter
  -----------------------------------------------------------------------------
  gut         gut-[1...8]        guts         guts-[1...8]
  gut-side    gut-side-[1...8]   guts-side    guts-side-[1...8]
  gut-rail    gut-rail-[1...8]   guts-rail    guts-rail-[1...8]
  gut-top     gut-top-[1...8]    guts-top     guts-top-[1...8]
  gut-bottom  gut-bottom-[1...8] guts-bottom  guts-bottom-[1...8]
  gut-right   gut-right-[1...8]  guts-right   guts-right-[1...8]
  gut-left    gut-left-[1...8]   guts-left    guts-left-[1...8]
 ******************************************************************************/
.guts.col > :last-child:not(:only-child),
.guts.col > :not(:only-child):not(:first-child):not(:last-child),
.guts-1.col > :last-child:not(:only-child),
.guts-1.col > :not(:only-child):not(:first-child):not(:last-child) {
    margin-top: .5rem;
}
.guts.col > :first-child:not(:only-child),
.guts.col > :not(:only-child):not(:first-child):not(:last-child),
.guts-1.col > :first-child:not(:only-child),
.guts-1.col > :not(:only-child):not(:first-child):not(:last-child) {
    margin-bottom: .5rem;
}
.guts:not(.col) > :last-child:not(:only-child),
.guts:not(.col) > :not(:only-child):not(:first-child):not(:last-child),
.guts-1:not(.col) > :last-child:not(:only-child),
.guts-1:not(.col) > :not(:only-child):not(:first-child):not(:last-child) {
    margin-left: .5rem;
}
.guts:not(.col) > :first-child:not(:only-child),
.guts:not(.col) > :not(:only-child):not(:first-child):not(:last-child),
.guts-1:not(.col) > :first-child:not(:only-child),
.guts-1:not(.col) > :not(:only-child):not(:first-child):not(:last-child) {
    margin-right: .5rem;
}
.gut,
.gut-top,  .guts-top  > *,
.gut-rail, .guts-rail > *,
.guts:not(.col)[class*="bg"] > *,
.guts.col[class*="bg"] > :only-child,
.guts.col[class*="bg"] > :first-child:not(:only-child),
.gut-1,
.gut-top-1,  .guts-top-1  > *,
.gut-rail-1, .guts-rail-1 > *,
.guts-1:not(.col)[class*="bg"] > *,
.guts-1.col[class*="bg"] > :only-child,
.guts-1.col[class*="bg"] > :first-child:not(:only-child) {
    margin-top: 1rem;
}
.gut,
.gut-rail,   .guts-rail   > *,
.gut-bottom, .guts-bottom > *,
.guts:not(.col)[class*="bg"] > *,
.guts.col[class*="bg"] > :only-child,
.guts.col[class*="bg"] > :last-child:not(:only-child),
.gut-1,
.gut-rail-1,   .guts-rail-1   > *,
.gut-bottom-1, .guts-bottom-1 > *,
.guts-1:not(.col)[class*="bg"] > *,
.guts-1.col[class*="bg"] > :only-child,
.guts-1.col[class*="bg"] > :last-child:not(:only-child) {
    margin-bottom: 1rem;
}
.gut,
.gut-side, .guts-side > *,
.gut-left, .guts-left > *,
.guts.col[class*="bg"] > *,
.guts:not(.col)[class*="bg"] > :only-child,
.guts:not(.col)[class*="bg"] > :first-child:not(:only-child),
.gut-1,
.gut-side-1, .guts-side-1 > *,
.gut-left-1, .guts-left-1 > *,
.guts-1.col[class*="bg"] > *,
.guts-1:not(.col)[class*="bg"] > :only-child,
.guts-1:not(.col)[class*="bg"] > :first-child:not(:only-child) {
    margin-left: 1rem;
}
.gut,
.gut-side,  .guts-side  > *,
.gut-right, .guts-right > *,
.guts.col[class*="bg"] > *,
.guts:not(.col)[class*="bg"] > :only-child,
.guts:not(.col)[class*="bg"] > :last-child:not(:only-child),
.gut-1,
.gut-side-1,  .guts-side-1  > *,
.gut-right-1, .guts-right-1 > *,
.guts-1.col[class*="bg"] > *,
.guts-1:not(.col)[class*="bg"] > :only-child,
.guts-1:not(.col)[class*="bg"] > :last-child:not(:only-child) {
    margin-right: 1rem;
}

/*** Gutter 1-8 ***/
.generate-gut(8);
.generate-gut(@n, @i: 2) when (@i =< @n) {
    .guts-@{i}.col > :last-child:not(:only-child),
    .guts-@{i}.col > :not(:only-child):not(:first-child):not(:last-child) {
        margin-top: @i*.5rem;
    }
    .guts-@{i}.col > :first-child:not(:only-child),
    .guts-@{i}.col > :not(:only-child):not(:first-child):not(:last-child) {
        margin-bottom: @i*.5rem;
    }
    .guts-@{i}:not(.col) > :last-child:not(:only-child),
    .guts-@{i}:not(.col) > :not(:only-child):not(:first-child):not(:last-child) {
        margin-left: @i*.5rem;
    }
    .guts-@{i}:not(.col) > :first-child:not(:only-child),
    .guts-@{i}:not(.col) > :not(:only-child):not(:first-child):not(:last-child) {
        margin-right: @i*.5rem;
    }
    .gut-@{i},
    .gut-top-@{i},  .guts-top-@{i}  > *,
    .gut-rail-@{i}, .guts-rail-@{i} > *,
    .guts-@{i}:not(.col)[class*="bg"] > *,
    .guts-@{i}.col[class*="bg"] > :only-child,
    .guts-@{i}.col[class*="bg"] > :first-child:not(:only-child) {
        margin-top: @i*1rem;
    }
    .gut-@{i},
    .gut-rail-@{i},   .guts-rail-@{i}   > *,
    .gut-bottom-@{i}, .guts-bottom-@{i} > *,
    .guts-@{i}:not(.col)[class*="bg"] > *,
    .guts-@{i}.col[class*="bg"] > :only-child,
    .guts-@{i}.col[class*="bg"] > :last-child:not(:only-child) {
        margin-bottom: @i*1rem;
    }
    .gut-@{i},
    .gut-side-@{i}, .guts-side-@{i} > *,
    .gut-left-@{i}, .guts-left-@{i} > *,
    .guts-@{i}.col[class*="bg"] > *,
    .guts-@{i}:not(.col)[class*="bg"] > :only-child,
    .guts-@{i}:not(.col)[class*="bg"] > :first-child:not(:only-child) {
        margin-left: @i*1rem;
    }
    .gut-@{i},
    .gut-side-@{i},  .guts-side-@{i}  > *,
    .gut-right-@{i}, .guts-right-@{i} > *,
    .guts-@{i}.col[class*="bg"] > *,
    .guts-@{i}:not(.col)[class*="bg"] > :only-child,
    .guts-@{i}:not(.col)[class*="bg"] > :last-child:not(:only-child) {
        margin-right: @i*1rem;
    }
    .generate-gut(@n, (@i + 1));
}

/*** Null ***/
[class*="guts"].col:not([class*="bg"]):not(.divider) > [hidden]:first-child + :not(:only-child):not(:first-child):not(:last-child) {
    margin-top: 0;
}
[class*="guts"]:not(.col):not([class*="bg"]):not(.divider) > [hidden]:first-child + :not(:only-child):not(:first-child):not(:last-child) {
    margin-left: 0;
}