/******************************************************************************
  Layout
  -----------------------------------------------------------------------------
  col row cel
  blc tbl inl grd
  grp
  climb
  bar
  lst
  grw  / grw_[1...8] - элемент развигает и заполняет пустое пространство
  grws / grws_[1...8]
  reverse
  inverse
  stretch / stretches
  inr
  head body foot
  fix abs stc sty
  scr
 ******************************************************************************/
header > .@{inner} {
    height: @header_height;
}
main > .@{inner} {
}
footer > .@{inner} {
    min-height: @footer_height;
}
.@{inner} {
    max-width: @layout_width;
    margin-left:  auto;
    margin-right: auto;
}
header.@{fixed} + :not(footer) {
    padding-top: @header_height;
}
@media only screen and (max-width: (@layout_width)) {
    main, header, footer {
        -webkit-justify-content: flex-start;
                justify-content: flex-start;
    }
}

/*** Flexible Layout ***/
main, header, footer,
.on, .@{col}, .@{row}, [class*="@{tile}"],
.@{fixed}.@{middle}@{child}, .@{fixed}.@{center}@{child},
.@{absolute}.@{middle}@{child}, .@{absolute}.@{center}@{child},
.@{bar}  > *,
.@{list} > *,
.@{list} > * > * {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
}
.@{inline}, .ico, .button, .badge, .label, .toggle, .check, .radio, .avatar,
.@{cell}:not(.@{col}):not(.@{table}):not([class*="@{tile}"]) > :not(.@{row}):not(.@{table}) {
    display: inline-block;
    display: -webkit-inline-flex;
    display: inline-flex;
}
.@{row}, [class*="@{tile}"], .@{list}.@{col} > *  {
    -webkit-flex-direction: row;
        -ms-flex-direction: row;
            flex-direction: row;
    &.reverse {
        -webkit-flex-direction: row-reverse;
            -ms-flex-direction: row-reverse;
                flex-direction: row-reverse;
    }
}
.@{col}, .@{list}.@{row} > * {
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    &.reverse {
        -webkit-flex-direction: column-reverse;
            -ms-flex-direction: column-reverse;
                flex-direction: column-reverse;
    }
}
.wrap, .@{row}, [class*="@{tile}"] {
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
}
.wrap {
    white-space: -moz-pre-wrap;
    white-space: pre-wrap;
    word-wrap:   break-word;
    text-wrap:   avoid;
}
.inverse {
    -webkit-flex-wrap: wrap-reverse;
            flex-wrap: wrap-reverse;
}
.nowrap, .@{col}:not(.@{cell}):not([class*="@{tile}"]), .@{bar}, .@{list} > * {
    -webkit-flex-wrap: nowrap;
        -ms-flex-wrap: nowrap;
            flex-wrap: nowrap;
}
.nowrap {
    white-space: nowrap;
    overflow:    hidden;
}
.nowrap, p {
    -o-text-overflow: ellipsis;
       text-overflow: ellipsis;
}
.grw, .grw_1, .grws > *, .@{body}, .@{screen} {
    -webkit-box-flex:  1;
    -moz-box-flex:     1;
    -ms-flex:          1;
    -webkit-flex-grow: 1;
    flex-grow:         1;
}
.generate-grow(8);
.generate-grow(@n, @i: 2) when (@i =< @n) {
    .grw_@{i} {
        -webkit-box-flex:  @i;
        -moz-box-flex:     @i;
        -ms-flex:          @i;
        -webkit-flex-grow: @i;
        flex-grow:         @i;
    }
    .generate-grow(@n, (@i + 1));
}
/*flex-shrink:;*/

/*** Align content ***/
.stretches,
.@{row}:not(.@{cell}),
.@{col}:not(.@{cell}),
[class*="@{tile}"]:not(.@{cell}),
.@{list} > *,
.@{fixed}.@{col}.@{middle}@{child}, .@{absolute}.@{col}.@{middle}@{child},
.@{fixed}.@{row}.@{top},     .@{absolute}.@{row}.@{top},
.@{fixed}.@{row}.@{bottom},  .@{absolute}.@{row}.@{bottom} {
    -webkit-align-content: stretch;
            align-content: stretch;
}
.@{screen},
[class*="@{tile}"].@{cell},
.@{col}.@{cell}.@{left}@{child}, .@{col}.@{cell}:not(.@{center}@{child}),
.@{row}.@{cell}.@{top}@{child},  .@{row}.@{cell}:not(.@{middle}@{child}) {
    -webkit-align-content: flex-start;
            align-content: flex-start;
}
.@{col}.@{cell}.@{center}@{child},
.@{row}.@{cell}.@{middle}@{child},
.@{fixed}.@{middle}@{child}, .@{fixed}.@{col}.@{center}@{child}.@{middle}@{child},
.@{absolute}.@{middle}@{child}, .@{absolute}.@{col}.@{center}@{child}.@{middle}@{child},
.@{list}.@{col} > * > *,
.@{bar} > *,
.@{col} > .@{head},
.@{col} > .@{foot},
.button, .badge, .label,
button, input, output, select, option {
    -webkit-align-content: center;
            align-content: center;
}
.@{col}.@{cell}.@{right}@{child},
.@{row}.@{cell}.@{bottom}@{child} {
    -webkit-align-content: flex-end;
            align-content: flex-end;
}

/*** Align items ***/
.stretches,
.@{row}:not(.@{cell}),
.@{col}:not(.@{cell}),
[class*="@{tile}"]:not(.@{cell}),
.@{list} > *,
.@{fixed}.@{col}.@{middle}@{child}, .@{absolute}.@{col}.@{middle}@{child},
.@{fixed}.@{row}.@{top},     .@{absolute}.@{row}.@{top},
.@{fixed}.@{row}.@{bottom},  .@{absolute}.@{row}.@{bottom} {
    -webkit-align-items: stretch;
            align-items: stretch;
}
.@{screen},
[class*="@{tile}"].@{cell},
.@{col}.@{cell}.@{left}@{child}, .@{col}.@{cell}:not(.@{center}@{child}),
.@{row}.@{cell}.@{top}@{child},  .@{row}.@{cell}:not(.@{middle}@{child}) {
    -webkit-align-items: flex-start;
            align-items: flex-start;
}
.@{col}.@{cell}.@{center}@{child},
.@{row}.@{cell}.@{middle}@{child},
.@{fixed}.@{middle}@{child}, .@{fixed}.@{col}.@{center}@{child}.@{middle}@{child},
.@{absolute}.@{middle}@{child}, .@{absolute}.@{col}.@{center}@{child}.@{middle}@{child},
.@{list}.@{col} > * > *,
.@{bar} > *,
.@{col} > .@{head},
.@{col} > .@{foot},
.button, .badge, .label,
button, input, output, select, option {
    -webkit-align-items: center;
            align-items: center;
}
.@{col}.@{cell}.@{right}@{child},
.@{row}.@{cell}.@{bottom}@{child} {
    -webkit-align-items: flex-end;
            align-items: flex-end;
}

/*** Align self ***/
.stretch {
    -webkit-align-self: stretch;
            align-self: stretch;
}
.@{col} > .@{left},
.@{row} > .@{top} {
    -webkit-align-self: flex-start;
            align-self: flex-start;
}
.@{col} > .@{center},
.@{row} > .@{middle} {
    -webkit-align-self: center;
            align-self: center;
}
.@{col} > .@{right},
.@{row} > .@{bottom} {
    -webkit-align-self: flex-end;
            align-self: flex-end;
}

/*** Justify content ***/
.@{col}.@{top}@{child},
.@{row}.@{left}@{child},
.@{row} > .@{head},
.@{bar} > .@{head},
.@{fixed}.@{left}, .@{fixed}.@{col}.@{top},
.@{absolute}.@{left}, .@{absolute}.@{col}.@{top} {
    -webkit-justify-content: flex-start;
            justify-content: flex-start;
}
/*main, header, footer,*/
.button, .badge,
.@{col}.@{middle}@{child},
.@{row}.@{center}@{child},
.@{bar} > :not(.@{head}):not(.@{body}):not(.@{foot}),
.@{fixed}.@{center}@{child}, .@{fixed}.@{col}.@{middle}@{child},
.@{absolute}.@{center}@{child}, .@{absolute}.@{col}.@{middle}@{child} {
    -webkit-justify-content: center;
            justify-content: center;
}
.@{col}.@{bottom}@{child},
.@{row}.@{right}@{child},
.@{row} > .@{foot},
.@{bar} > .@{foot},
.@{fixed}.@{right}, .@{fixed}.@{col}.@{bottom},
.@{absolute}.@{right}, .@{absolute}.@{col}.@{bottom} {
    -webkit-justify-content: flex-end;
            justify-content: flex-end;
}
.@{evenly} {
    justify-content: space-evenly;
}
.@{around} {
    -webkit-justify-content: space-around;
            justify-content: space-around;
}
.@{between} {
    -webkit-justify-content: space-between;
            justify-content: space-between;
    > :first-child {
        margin-left: 0;
    }
    > :last-child {
        margin-right: 0;
    }
}

/*** Flex Order ***/
.generate-order(8);
.generate-order(@n, @i: 1) when (@i =< @n) {
    .ord_@{i} {
        order: @i;
    }
    .generate-order(@n, (@i + 1));
}

/*** Grid Layout ***/
.@{grid} {
    display: -moz-grid;
    display: -ms-grid;
    display: grid;
}

/*** Block Layout ***/
.@{block},
.@{block}.on,
.@{block}.@{col} > * {
    display: block;
}
.@{block}.@{list} > * > *,
.@{block}.@{row}:not(.@{cell}) > *,
.@{block}.@{row}.@{right}@{child}:not(.@{cell}) > .@{left},
.@{block}.@{row}.reverse:not(.@{cell}) > .@{right},
.@{block}.@{row}.@{right}@{child}.reverse:not(.@{cell}) > *,
.@{block}[class*="@{tile}"] > *,
.@{block}[class*="@{tile}"].@{right}@{child}.reverse > * {
    float: left;
}
.@{block}.@{list} > * > .@{right},
.@{block}.@{row}:not(.@{cell}) > .@{right},
.@{block}.@{row}.@{right}@{child}:not(.@{cell}) > *,
.@{block}.@{row}.reverse:not(.@{cell}) > *,
.@{block}.@{row}.@{right}@{child}.reverse:not(.@{cell}) > .@{left},
.@{block}[class*="@{tile}"].@{right}@{child} > *,
.@{block}[class*="@{tile}"].reverse > * {
    float: right;
}

/*** Table Layout ***/
.@{table},
.@{table}.on {
    display: table;
}
.@{table}:not(.@{row}) > :not([hidden]):not(script):not(style) {
    display: table-row-group;
}
.@{table}.@{row} > *,
.@{table}:not(.@{row}) > * > :not([hidden]):not(script):not(style) {
    display: table-cell;
}

/*** Clearfix ***/
.@{clear}:after,
.@{block}.@{row}:after,
.@{block}[class*="@{tile}"]:after,
.@{table}.@{row} > :after,
.@{table}:not(.@{row}) > * > :not([hidden]):not(script):not(style):after {
    clear:    both;
    font-size:   0;
    height:      0;
    line-height: 0;
    visibility: hidden;
}
.@{clear}:after,
.@{block}.@{row}:after,
.@{block}[class*="@{tile}"]:after {
    display: block;
    content: "";
}
.@{table}.@{row} > *,
.@{table}.@{bar} > *,
.@{table}:not(.@{row}) > * > :not([hidden]):not(script):not(style) {
    &:after,
    &:before {
        display: table;
        content: " ";
    }
}

/*** Placement ***/
.@{top},
.@{top}@{child}:not(.@{col}):not(.@{row}) > *,
.@{table}.@{cell},
.@{table}.@{row} > * {
    vertical-align: top;
}
.@{bottom},
.@{bottom}@{child}:not(.@{col}):not(.@{row}) > *,
.@{table}.@{row} > .@{bottom} {
    vertical-align: bottom;
}
.@{middle},
.@{middle}@{child}:not(.@{col}):not(.@{row}) > *,
.@{table}.@{bar} > *,
.@{table}.@{list} > *,
.@{table}.@{row} > .@{middle},
.@{table}:not(.@{row}) > * > :not([hidden]):not(script):not(style) {
    vertical-align: middle;
}
.@{left}@{child}:not(.@{col}):not(.@{row}):not(.@{bar}),
.@{table}:not(.@{row}) > * > .@{head} {
    text-align: left;
    > * {
        text-align: inherit;
    }
}
.@{right}@{child}:not(.@{col}):not(.@{row}):not(.@{bar}),
.@{table}:not(.@{row}) > * > .@{foot} {
    text-align: right;
    > * {
        text-align: inherit;
    }
}
.@{center}@{child}:not(.@{col}),
.@{block}.@{bar}.@{cell},
.@{block}.@{bar} > * {
    text-align: center;
}
.@{center}@{child}:not(.@{col}):not(.@{bar}),
.@{block}.@{bar} > * {
    > * {
        text-align: inherit;
    }
}
.@{center}:only-child {
    margin-left:  auto;
    margin-right: auto;
}

/***************************************
  Position
 ***************************************/
.@{fixed}, .drawer {
    position: fixed;
}
.@{absolute}, .@{fixed} .@{screen}, .@{climb} > * {
    position: absolute;
}
.@{static} {
    position: static;
}
.@{sticky} {
    position: sticky;
}
.@{fixed} .@{screen},
.@{fixed}:not(.@{top}):not(.@{bottom}):not(.@{right}):not(.@{left}),
.@{absolute}:not(.@{top}):not(.@{bottom}):not(.@{right}):not(.@{left}),
.@{fixed}.@{top},      .@{absolute}.@{top},
.@{fixed}.@{right},    .@{absolute}.@{right},
.@{fixed}.@{left},     .@{absolute}.@{left},
.@{fixed}.@{top}.@{right},.@{absolute}.@{top}.@{right},
.@{fixed}.@{top}.@{left}, .@{absolute}.@{top}.@{left} {
    top: 0;
}
body.@{fixed},
.@{fixed} .@{screen},
.@{fixed}:not(.@{top}):not(.@{bottom}):not(.@{right}):not(.@{left}),
.@{absolute}:not(.@{top}):not(.@{bottom}):not(.@{right}):not(.@{left}),
.@{fixed}.@{bottom},      .@{absolute}.@{bottom},
.@{fixed}.@{right},       .@{absolute}.@{right},
.@{fixed}.@{left},        .@{absolute}.@{left},
.@{fixed}.@{bottom}.@{right},.@{absolute}.@{bottom}.@{right},
.@{fixed}.@{bottom}.@{left}, .@{absolute}.@{bottom}.@{left} {
    bottom: 0;
}
.@{fixed} .@{screen},
.@{fixed}:not(.@{top}):not(.@{bottom}):not(.@{right}):not(.@{left}),
.@{absolute}:not(.@{top}):not(.@{bottom}):not(.@{right}):not(.@{left}),
.@{fixed}.@{left},         .@{absolute}.@{left},
.@{fixed}.@{top},          .@{absolute}.@{top},
.@{fixed}.@{bottom},       .@{absolute}.@{bottom},
.@{fixed}.@{top}.@{left},     .@{absolute}.@{top}.@{left},
.@{fixed}.@{bottom}.@{left},  .@{absolute}.@{bottom}.@{left} {
    left: 0;
}
.@{fixed} .@{screen},
.@{fixed}:not(.@{top}):not(.@{bottom}):not(.@{right}):not(.@{left}),
.@{absolute}:not(.@{top}):not(.@{bottom}):not(.@{right}):not(.@{left}),
.@{fixed}.@{right},           .@{absolute}.@{right},
.@{fixed}.@{top},             .@{absolute}.@{top},
.@{fixed}.@{bottom},          .@{absolute}.@{bottom},
.@{fixed}.@{top}.@{right},    .@{absolute}.@{top}.@{right},
.@{fixed}.@{bottom}.@{right}, .@{absolute}.@{bottom}.@{right} {
    right: 0;
}
.@{fixed}.@{bottom}.@{right}, .@{absolute}.@{bottom}.@{right},
.@{fixed}.@{bottom}.@{left},  .@{absolute}.@{bottom}.@{left} {
    top: auto;
}
.@{fixed}.@{top}.@{right},    .@{absolute}.@{top}.@{right},
.@{fixed}.@{top}.@{left},     .@{absolute}.@{top}.@{left} {
    bottom: auto;
}
.@{fixed}.@{right}.@{top},    .@{absolute}.@{right}.@{top},
.@{fixed}.@{right}.@{bottom}, .@{absolute}.@{right}.@{bottom} {
    left: auto;
}
.@{fixed}.@{left}.@{top},     .@{absolute}.@{left}.@{top},
.@{fixed}.@{left}.@{bottom},  .@{absolute}.@{left}.@{bottom} {
    right: auto;
}

/***************************************
  Group
 ***************************************/
.@{group}:not(.@{col}) > :not(:only-child):not(:first-child):not(.@{climb}),
.divider:not(.@{col}) > :not(:only-child):not(:first-child) {
    margin-left: -1px;
}
.@{group} > :not(:last-child) {
    margin-right: 0;
}
.@{group} > :not(:only-child):not(:first-child):not(:last-child) {
    border-radius: 0;
}
.@{group}:not(.@{col}) > :first-child:not(:only-child) {
    border-top-right-radius:    0;
    border-bottom-right-radius: 0;
}
.@{group}:not(.@{col}) > :last-child:not(:only-child) {
    border-top-left-radius:    0;
    border-bottom-left-radius: 0;
}
.@{group}.@{col}     > :not(:only-child):not(:first-child),
.divider.@{col} > :not(:only-child):not(:first-child) {
    margin-top: -1px;
}
.@{group}.@{col} > :not(:last-child) {
    margin-bottom: 0;
}
.@{group}.@{col} > :first-child:not(:only-child) {
    border-bottom-left-radius:  0;
    border-bottom-right-radius: 0;
}
.@{group}.@{col} > :last-child:not(:only-child) {
    border-top-left-radius:  0;
    border-top-right-radius: 0;
}

/***************************************
  Head / Body / Foot
 ***************************************/
/*.@{row} {
    > .@{head}, > .@{body}, > .@{foot} {}
    > .@{head} {}
    > .@{body} {}
    > .@{foot} {}
}
.@{col} {
    > .@{head}, > .@{body}, > .@{foot} {}
    > .@{head} {}
    > .@{body} {}
    > .@{foot} {}
}*/

/***************************************
  Climb
 ***************************************/
.@{climb}:not(:empty) > * {
    margin-left: -100% !important;
}

/******************************************************************************
  Triggers and Switches
  -----------------------------------------------------------------------------
  on      off
  in      out
  show    hide
  fade    fadein  fadeout
  empty
 ******************************************************************************/
.@{off}, [class*="on_"], .@{empty}:empty {
    display: none !important;
}
.out, [class*="in_"] {
    top:  -100% !important;
    left: -100% !important;
    z-index: -1 !important;
}
.out, [class*="in_"], .in.@{fixed} {
    position: fixed !important;
}
.in.@{absolute} {
    position: absolute !important;
}
.in:not(.@{fixed}):not(.@{absolute}):not(.@{sticky}) {
    position: relative !important;
}
.in {
    top:        auto !important;
    left:       auto !important;
    z-index: inherit !important;
}
.hide, [class*="show_"],
.fadein, .fadeout:hover,
.fade:hover .fadeout,
.badge:empty {
    visibility: hidden !important;
    opacity:         0 !important;
}
.show, .fadeout, .fadein:hover, .fade:hover .fadein {
    visibility: visible !important;
    opacity:          1 !important;
}

/***************************************
  Z-index
 ***************************************/
.@{zindex1}, .drawer {
    z-index: 1000;
}
.@{zindex2}, .@{screen} {
    z-index: 2000;
}
.@{zindex3}, .dropdown, option, optgroup {
    z-index: 3000;
}
.@{zindex4}, .popup {
    z-index: 4000;
}
.@{zindex5}, .tooltip {
    z-index: 5000;
}
.@{zindex6} {
    z-index: 6000;
}
.@{zindex7}, header.@{fixed}, footer.@{fixed}, header.@{sticky}, footer.@{sticky} {
    z-index: 7000;
}
.@{zindex8}, .snackbar {
    z-index: 8000;
}
.@{zindex9}, .modal {
    z-index: 9000;
}

/*
  Relative lengths
  ---------------------------------------
  unit  relative to
  ---------------------------------------
  ‘em’   - font size of the element
  ‘ex’   - x-height of the element's font
  ‘ch’   - width of the "0" (ZERO, U+0030) glyph in the element's font
  ‘rem’  - font size of the root element
  ‘vw’   - 1% of viewport's width
  ‘vh’   - 1% viewport's height
  ‘vmin’ - 1% of viewport's smaller dimension
  ‘vmax’ - 1% of viewport's larger dimension

  Absolute lengths
  ---------------------------------------
  unit  definition
  ---------------------------------------
  ‘cm’ - centimeters; 1cm = 96px/2.54
  ‘mm’ - millimeters; 1mm = 1/10th of 1cm
  ‘q‘  - quarter-millimeters; 1q = 1/40th of 1cm
  ‘in’ - inches; 1in is equal to 2.54cm = 96px
  ‘px’ - pixels; 1px is equal to 1/96th of 1in
  ‘pt’ - points; 1pt is equal to 1/72nd of 1in
  ‘pc’ - picas; 1pc is equal to 12pt, = 1/6th of 1in

  Resolutions
  ---------------------------------------
  dpi  - dots per inch
  dpcm - dots per centimeter
  dppx - dots per ‘px’ unit
*/