//******************************************************************************
// Namespaces
//------------------------------------------------------------------------------
//
//******************************************************************************

@pre:                   pl-;   // Prefix
@child:                 s;     //
@half:                  _half; //

// Layout
@inner:                 inr;
@screen:                scr;
@col:                   col;
@row:                   row;
@cell:                  cel;
@grow:                  grw;
@shrink:                snk;
@stretch:               stc;
@wrap:                  wrp;
@nowrap:                nwrp;
@reverse:               reverse;
@inverse:               inverse;

@item:                  itm;  //?
@head:                  head;
@body:                  body;
@foot:                  foot;

@gap:                   gp;
@gutter:                gt;
@groove:                gr;

@inline:                inl;
@grid:                  grd;
@block:                 blc;
@table:                 tbl;
@list:                  lst;
@bar:                   bar;
@tile:                  til;
@fluid:                 flu;
@solid:                 sld;
@group:                 grp;
@climb:                 climb;
@clear:                 clear; //clearfix
@empty:                 empty;

// Position
@fixed:                 fix;
@absolute:              abs;
@static:                stc;
@sticky:                sty;

// Directions
@top:                   top;
@bottom:                bottom;
@right:                 right;
@left:                  left;
@middle:                middle;
@center:                center;
@evenly:                evenly;
@around:                around;
@between:               between;

// Triggers and Switches
@on:                    on;
@off:                   off;
@in:                    in;
@out:                   out;
@show:                  show;
@hide:                  hide;
@fade:                  fade;
@fadein:                fadein;
@fadeout:               fadeout;

// Z-index
@zindex0:               z0;
@zindex1:               z1;
@zindex2:               z2;
@zindex3:               z3;
@zindex4:               z4;
@zindex5:               z5;
@zindex6:               z6;
@zindex7:               z7;
@zindex8:               z8;
@zindex9:               z9;

//
@divider:               divider;
@back:                  bg;
@ink:                   ink;