/******************************************************************************
  Variables
  -----------------------------------------------------------------------------

 ******************************************************************************/
@pre:                   pl-;

@cell:                  10px;
@px:                    1rem/10;

@layout_width:          @cell*96;
@layout_width_min:      320px;
@header_height:         @cell*6;
@footer_height:         @cell*4;

/***************************************
 Modules
 ***************************************/
@import "reset.less";

@import "layout.less";

@import "tile.less";

@import "table.less";

@import "gap.less";

@import "gutter.less";

@import "groove.less";

@import "form.less";

@import "elements.less";

@import "size.less";

@import "adaptive.less";

//@import "animation.less";

//@import "debug.less";

/******************************************************************************
  Manual
  -----------------------------------------------------------------------------
  col
  row
  cel
  blc
  tbl
  inl
  tile / tile-[1...9]
  flds - элементы в данном контейнере имеют одну и туже ширину (до 100)
  fld = fld-1 / fld-[1...100] - ширина в %, номер означает сколько элементов поместиться в родительсом контейнере
  glb = glb-1 / glb-[1...100] - ширина в vw, тоже что и fld-[1...100]
  gv (.5rem)
  gv-[1...20] (0.1rem - 2rem)
  grp - группирует элементы (зависит от col и row)
  climb - налезает на предыдущий элемент (налезает справа на лево)
  bar
  lst
  grw  / grw-[1...8]
  grws / grws-[1...8]
  inner
  head
  body
  foot
  fix
  abs
  pin
  clear
  title
  bg - фон, элемент структуры на который возможно воздействие модификаторов, например: gp, gt и т.д.
  divider
 ******************************************************************************/