/******************************************************************************
  Tile
  -----------------------------------------------------------------------------
  tile (0.5rem)
  tile-[1...20] (0.1rem - 2rem)
 ******************************************************************************/
.tile {
    margin: -.5rem;
    > * {
        padding: .5rem;
    }
}
.generate-tile(20);
.generate-tile(@n, @i: 1) when (@i =< @n) {
    .tile-@{i} {
        margin: -@i*.1rem;
        > * {
            padding: @i*.1rem;
        }
    }
    .generate-tile(@n, (@i + 1));
}