/******************************************************************************
  Manual
  -----------------------------------------------------------------------------
  col row cel
  blc tbl grd inl
  til / til_[1...8]
  flus - элементы в данном контейнере имеют одну и туже ширину (до 100)
  flu = flu_1 / flu_[1...100] - ширина в %, номер означает сколько элементов поместиться в родительсом контейнере
  gr (.5rem)
  gr_[1...20] (0.1rem - 2rem)
  grp - группирует элементы (зависит от col и row)
  climb - налезает на предыдущий элемент (налезает справа на лево)
  bar
  lst
  grw  / grw_[1...8]
  grws / grws_[1...8]
  inr
  scr
  head hd
  body bd
  foot ft
  fix
  abs
  stc
  sty
  clear
  title
  caption
  bg - фон, элемент структуры на который возможно воздействие модификаторов, например: gp, gt и т.д.
  divider
 ******************************************************************************/
/*
#color() {
    brand:           #27a4c4;
    brand_dark:      #246d8d;
    brand_light:     #2bbfe0;

    primary:         #27a4c4;
    primary_dark:    #246d8d;
    primary_light:   #2bbfe0;

    secondary:       #9cb0af;
    secondary_dark:  #9cb0af;
    secondary_light: #9cb0af;

    accent:          #fe8325;
    accent_dark:     #fe4a00;
    accent_light:    #fe9f61;

    bright:          orange;
    bright_dark:     orange;
    bright_light:    orange;

    dark:            #485a68;
    light:           #acc0bf;

    gray:            #999;
    gray_dark:       #333;
    gray_light:      #ccc;

    error:           red;
    success:         green;
    warning:         #f1c101;
    notice:          blue;
    tips:            rgba(0,0,0,.8);
    lucid:           rgba(0,0,0,.3);
}
.button {
    color: #color[primary];
    border: 1px solid #color[secondary];
}*/
/***************************************
  Commons
 ***************************************/
body,
input,
output,
select,
textarea {
  font-family: Roboto, Helvetica, Arial, sans-serif;
}
cite,
q {
  font-family: Georgia, 'Times New Roman', Times, serif;
}
pre,
code,
kbd,
samp,
var,
cite {
  font-family: 'Lucida Console', Consolas, Monaco, 'Courier New', Courier, monospace;
}
mark {
  background-color: #fe8325;
  color: #999;
}
::-webkit-input-placeholder,
::-moz-placeholder,
:-moz-placeholder,
:-ms-input-placeholder {
  color: #152f00;
}
.lucid {
  color: rgba(0, 0, 0, 0.3);
}
/***************************************
  Layout
 ***************************************/
body {
  background-color: #fff;
}
header {
  background-color: #27a4c4;
}
header > .inr {
  background-color: #27a4c4;
  color: #fff;
}
main {
  background-color: #fff;
}
main > .inr {
  background-color: #f7f7f7;
}
footer {
  background-color: #cbffac;
}
footer > .inr {
  background-color: #ddd;
  color: #999;
}
/***************************************
  Drawer
 ***************************************/
.drawer {
  background-color: #485a68;
  color: #fff;
}
/***************************************
  Dialog
 ***************************************/
.dialog {
  background-color: #fff;
  color: #333;
  overflow: hidden;
  border-radius: 0.3rem;
  box-shadow: 0 0.8rem 2.4rem -0.4rem rgba(0, 0, 0, 0.33);
}
/***************************************
  Card
 ***************************************/
.card {
  background-color: #fff;
  color: #333;
  overflow: hidden;
  border-radius: 0.2rem;
  box-shadow: 0 0.2rem 0.4rem -0.1rem rgba(0, 0, 0, 0.33);
}
/***************************************
  Panel
 ***************************************/
.panel {
  background-color: #fff;
  color: #333;
  box-shadow: 0.1rem 0.1rem 0 rgba(0, 0, 0, 0.08);
}
/***************************************
  Button
 ***************************************/
.button {
  background-color: #27a4c4;
  color: #fff;
}
.button:hover {
  background-color: #2bbfe0;
  border-color: #2bbfe0;
  box-shadow: 0 0.1rem 0.2rem 0 rgba(0, 0, 0, 0.2);
}
.button:active {
  background-color: #246d8d;
  border-color: #246d8d;
  box-shadow: 0 0.1rem 0.2rem 0 rgba(0, 0, 0, 0.2) inset;
}
.button.flat,
.button.border {
  background-color: transparent;
  color: #27a4c4;
  box-shadow: none;
}
.button,
.border {
  border-color: #27a4c4;
}
/***************************************
  Badge
 ***************************************/
.badge {
  background-color: #fe8325;
  color: #fff;
  box-shadow: 0 0.1rem 0.2rem 0 rgba(0, 0, 0, 0.2);
}
/***************************************
  Label
 ***************************************/
.label {
  background-color: green;
  color: #fff;
  box-shadow: 0.1rem 0.1rem 0 rgba(0, 0, 0, 0.08);
}
/***************************************
  Tooltip
 ***************************************/
.tooltip {
  background-color: rgba(0, 0, 0, 0.8);
  color: #fff;
}
/***************************************
  Snackbar
 ***************************************/
.snackbar {
  background-color: rgba(0, 0, 0, 0.8);
  color: #fff;
}
/***************************************
  Divider / Separate
 ***************************************/
hr {
  color: rgba(0, 0, 0, 0.12);
}
hr,
.separator,
.divider > *,
.divider.tbl:not(.row) > * > * {
  border-color: rgba(0, 0, 0, 0.12);
}
/***************************************
  Form
 ***************************************/
.radio:after,
.check:after,
.toggle:after {
  background-color: #27a4c4;
}
.radio:before,
.check:before,
.toggle:before,
select,
textarea,
input[type="text"],
input[type="password"],
input[type="email"],
input[type="tel"],
input[type="url"],
input[type="search"],
input[type="number"],
input[type="time"],
input[type="month"],
input[type="week"],
input[type="date"],
input[type="datetime"],
input[type="datetime-local"] {
  background-color: #fff;
  border-color: #27a4c4;
}
/***************************************
  Backgrounds (bg or bg-... important)
 ***************************************/
.bg {
  background-color: inherit;
}
/*** Brand ***/
.bg-brand {
  background-color: #27a4c4 !important;
  color: #fff;
}
.bg-brand-light {
  background-color: #2bbfe0 !important;
  color: #fff;
}
.bg-brand-dark {
  background-color: #246d8d !important;
  color: #fff;
}
/*** Accent ***/
.bg-accent {
  background-color: #fe8325 !important;
  color: #fff;
}
.bg-accent-light {
  background-color: #fe9f61 !important;
  color: #fff;
}
.bg-accent-dark {
  background-color: #fe4a00 !important;
  color: #fff;
}
/*** Dark ***/
.bg-dark {
  background-color: #485a68 !important;
  color: #fff;
}
/*** Light ***/
.bg-light {
  background-color: #acc0bf !important;
  color: #fff;
}
/*** Bright ***/
.bg-secondary {
  background-color: orange !important;
  color: #fff;
}
/*** Secondary ***/
.bg-secondary {
  background-color: #9cb0af !important;
  color: #fff;
}
/*** Gray ***/
.bg-gray {
  background-color: #999 !important;
  color: #fff;
}
.bg-gray a:not(.button) {
  color: #8b9298;
}
.bg-gray a:not(.button):hover {
  color: #2a3644;
}
.bg-gray .divider {
  background-color: #ddd !important;
  border-color: #ddd !important;
}
.bg-gray-light {
  background-color: #ccc !important;
  color: #213140;
}
.bg-gray-light a:not(.button) {
  color: #37455b;
}
.bg-gray-light a:not(.button):hover {
  color: #582b5b;
}
.bg-gray-light .divider {
  background-color: #d4d9dd !important;
  border-color: #d4d9dd !important;
}
.bg-gray-dark {
  background-color: #333 !important;
  color: #fff;
}
.bg-gray-dark a:not(.button) {
  color: #fff;
}
.bg-gray-dark a:not(.button):hover {
  color: #fff;
}
.bg-gray-dark .divider {
  background-color: #d4d9dd !important;
  border-color: #d4d9dd !important;
}
/*** Error/Red ***/
.bg-error {
  background-color: red !important;
  color: #fff;
}
/*** Success/Green ***/
.bg-success {
  background-color: green !important;
  color: #fff;
}
/*** Notice/Blue ***/
.bg-warning {
  background-color: blue !important;
  color: #fff;
}
/*** Tips/Black ***/
.bg-tips {
  background-color: rgba(0, 0, 0, 0.8) !important;
  color: #fff;
}
/***************************************
  Shadows
 ***************************************/
/***************************************
  Fonts
 ***************************************/
@font-face {
  font-family: 'Roboto';
  src: url("../fonts/Roboto/Roboto-Regular.ttf") format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'RobotoLight';
  src: url("../fonts/Roboto/Roboto-Light.ttf") format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'RobotoThin';
  src: url("../fonts/Roboto/Roboto-Thin.ttf") format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'RobotoMedium';
  src: url("../fonts/Roboto/Roboto-Medium.ttf") format('truetype');
  font-weight: normal;
  font-style: normal;
}
